<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>MyWebsite</title>
    <style>
       body{
          /* background: url('static/img/img10.png') ; */
          background-color: #fefbf5;
          color: #4d493e;
          background-size: cover;
          height: 50%;
          width: 100%;
          margin-bottom: 0px;
      }

      .container {
          width: 70%;
          margin-top: 5%;
          /* box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3); */
          padding: 40px;
      }
      .form-row {
        margin-left: 10%;
      }

    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent fixed-top" id="mainNav">
        <a class="navbar-brand font-weight" href="/">HOME</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll" href="/analysis">ANALYSIS</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link js-scroll" href="/predik">PREDICT</a>
            </li> 
            <li class="nav-item active">
              <a class="nav-link js-scroll" href="/about">ABOUT</a>
            </li> 
          </ul>
        </div>
        </nav>
        <div class="container">
            <h2 class="text"><b>CUSTOMER CHURN</b></h2>
            <img src="https://miro.medium.com/max/1200/1*9qXZ2O17xzskToZWJsacbw.jpeg" alt="" height="300" width="400">
                <p class="lead"><b><i>"Customer Churn is the number or presentation of customers who stop using a product or unsubscribe during a certain period, this is caused by customer dissatisfaction, cheaper offers from competitors, better marketing by competitors, or other causes.
                In a growing business, the cost of getting new customers is far greater than the cost of keeping existing customers. Customer churn impact on lossing revenue and company's reputation, in such a position it is more difficult to get new customers"</i></b> </p>
                
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>