<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Analysis</title>
    <style>
      body{
          /* background: url('static/img/img11.png') ; */
          background-color: #fefbf5;
          color: #4d493e;
          background-size: cover;
          height: 50%;
          width: 100%;
      }
      .carousel-control-next-icon:after
      {
        content: '>';
        font-size: 55px;
        color: #636363;
      }

      .carousel-control-prev-icon:after {
        content: '<';
        font-size: 55px;
        color: #636363;
      }
      .carousel-indicators .active{
        background-color: #636363;
      }
      .carousel-indicators li{
        background-color: #cbbf9f;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent fixed-top" id="mainNav">
    <a class="navbar-brand font-weight" href="/">HOME</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link js-scroll" href="/analysis">ANALYSIS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll" href="/predik">PREDICT</a>
        </li> 
      </ul>
    </div>
    </nav>
    <br><br>
      <h3 class="text-center"><b>DATA ANALYSIS</b></h3>
      <br>
      <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselIndicators" data-slide-to="1"></li>
          <li data-target="#carouselIndicators" data-slide-to="2"></li>
          <li data-target="#carouselIndicators" data-slide-to="3"></li>
          <li data-target="#carouselIndicators" data-slide-to="4"></li>
          <li data-target="#carouselIndicators" data-slide-to="5"></li>
          <li data-target="#carouselIndicators" data-slide-to="6"></li>
          <li data-target="#carouselIndicators" data-slide-to="7"></li>
          <li data-target="#carouselIndicators" data-slide-to="8"></li>
          <li data-target="#carouselIndicators" data-slide-to="9"></li>
          <li data-target="#carouselIndicators" data-slide-to="10"></li>
          <li data-target="#carouselIndicators" data-slide-to="11"></li>
          <li data-target="#carouselIndicators" data-slide-to="12"></li>
          <li data-target="#carouselIndicators" data-slide-to="13"></li>
          <li data-target="#carouselIndicators" data-slide-to="14"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active"  data-interval="15000">
            <center><div style="width: 800px;" id="Plot"></div></center>
          </div>
          <div class="carousel-item" data-interval="15000">
            <center><div style="width: 800px;" id="Plot1"></div></center>
          </div>
          <div class="carousel-item" data-interval="15000">
            <center><div style="width: 800px;" id="Plot2"></div></center>
          </div>
          <div class="carousel-item" data-interval="15000">
            <center><div style="width: 800px;" id="Plot3"></div></center>
          </div>
          <div class="carousel-item" data-interval="15000">
            <center><div style="width: 800px;" id="Plot4"></div></center>
          </div>
          <div class="carousel-item" data-interval="15000">
            <center><div style="width: 800px;" id="Plot5"></div></center>
          </div>
          <div class="carousel-item" data-interval="15000">
            <center><div style="width: 800px;" id="Plot6"></div></center>
          </div>
          <div class="carousel-item" data-interval="15000">
            <center><div style="width: 800px;" id="Plot7"></div></center>
          </div>
          <div class="carousel-item" data-interval="15000">
            <center><div style="width: 800px;" id="Plot8"></div></center>
          </div>
          <div class="carousel-item" data-interval="15000">
            <center><div style="width: 800px;" id="Plot9"></div></center>
          </div>
          <div class="carousel-item" data-interval="15000">
            <center><div style="width: 800px;" id="Plot10"></div></center>
          </div>
          <div class="carousel-item" data-interval="15000">
            <center><div style="width: 800px;" id="Plot11"></div></center>
          </div>
          <div class="carousel-item" data-interval="15000">
            <center><div style="width: 800px;" id="Plot12"></div></center>
          </div>
          <div class="carousel-item" data-interval="15000">
            <center><div style="width: 800px;" id="Plot13"></div></center>
          </div>
          <div class="carousel-item" data-interval="15000">
            <center><div style="width: 800px;" id="Plot14"></div></center>
          </div>
        </div><br><br>
        <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

  </body>
  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!-- jquery,plotly.js,d3.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script type="text/javascript">
    var graphs = {{Plot | safe}};
    Plotly.plot('Plot',graphs,{});
    var graphs = {{Plot1 | safe}};
    Plotly.plot('Plot1',graphs,{});
    var graphs = {{Plot2 | safe}};
    Plotly.plot('Plot2',graphs,{});
    var graphs = {{Plot3 | safe}};
    Plotly.plot('Plot3',graphs,{});
    var graphs = {{Plot4 | safe}};
    Plotly.plot('Plot4',graphs,{});
    var graphs = {{Plot5 | safe}};
    Plotly.plot('Plot5',graphs,{});
    var graphs = {{Plot6 | safe}};
    Plotly.plot('Plot6',graphs,{});
    var graphs = {{Plot7 | safe}};
    Plotly.plot('Plot7',graphs,{});
    var graphs = {{Plot8 | safe}};
    Plotly.plot('Plot8',graphs,{});
    var graphs = {{Plot9 | safe}};
    Plotly.plot('Plot9',graphs,{});
    var graphs = {{Plot10 | safe}};
    Plotly.plot('Plot10',graphs,{});
    var graphs = {{Plot11 | safe}};
    Plotly.plot('Plot11',graphs,{});
    var graphs = {{Plot12 | safe}};
    Plotly.plot('Plot12',graphs,{});
    var graphs = {{Plot13 | safe}};
    Plotly.plot('Plot13',graphs,{});
    var graphs = {{Plot14 | safe}};
    Plotly.plot('Plot14',graphs,{});
  </script>
</html>