<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Predict</title>
    <style>
      body{
          /* background: url('static/img/img10.png') ; */
          background-color: #fefbf5;
          color: #4d493e;
          background-size: cover;
          height: 50%;
          width: 100%;
          margin-bottom: 0px;
      }

      .container {
          width: 80%;
          margin-top: 0%;
          /* box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3); */
          padding: 40px;
      }
      .form-row {
        margin-left: 10%;
      }

    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent fixed-top" id="mainNav">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll" href="/main">ANALYSIS</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link js-scroll" href="/hasil">PREDICT</a>
          </li> 
        </ul>
      </div>
      </nav>
    <div class="container">
      <h4 class="text-center"><b>FORM PREDICTION</b></h4>
      <br><br>
      <form action= "/hasil" method="POST">
        <!-- Senior Citizen -->
        <div class="form-row">
        <div class="col-md-4">
        <p>Senior Citizen ?</p>
        <div class="custom-control custom-radio">
          <input type="radio" id="SeniorCitizen1" name="SeniorCitizen" value=1 class="custom-control-input">
          <label class="custom-control-label" for="SeniorCitizen1">Yes</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="SeniorCitizen0" name="SeniorCitizen" value=0 class="custom-control-input">
          <label class="custom-control-label" for="SeniorCitizen0">No</label>
        </div>
        </div>
       <!-- Gender -->
          <div class="col-md-4">
          <p>Gender ?</p>
          <div class="custom-control custom-radio">
            <input type="radio" id="gender1" name="gender" value=a class="custom-control-input">
            <label class="custom-control-label" for="gender1">Male</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="gender2" name="gender" value=b class="custom-control-input">
            <label class="custom-control-label" for="gender2">Female</label>
          </div>
        </div>
        <!-- Partners -->
        <div class="col-md-4">  
        <p>Have Partner ?</p>
        <div class="custom-control custom-radio">
          <input type="radio" id="Partner1" name="Partner" value=1 class="custom-control-input">
          <label class="custom-control-label" for="Partner1">Yes</label>
        </div>
        <div class="custom-control custom-radio">
          <input type="radio" id="Partner0" name="Partner" value=0 class="custom-control-input">
          <label class="custom-control-label" for="Partner0">No</label>
          <br><br>
        </div>
        </div>
        <!-- Dependents -->
        <div class="col-md-4">  
          <p>Have Dependents ?</p>
          <div class="custom-control custom-radio">
            <input type="radio" id="Dependents1" name="Dependents" value=1 class="custom-control-input">
            <label class="custom-control-label" for="Dependents1">Yes</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="Dependents0" name="Dependents" value=0 class="custom-control-input">
            <label class="custom-control-label" for="Dependents0">No</label>
            <br><br>
          </div>
          </div>
          <!-- Phone Service -->
        <div class="col-md-4">  
          <p>Have Phone Service ?</p>
          <div class="custom-control custom-radio">
            <input type="radio" id="PhoneService1" name="PhoneService" value=1 class="custom-control-input">
            <label class="custom-control-label" for="PhoneService1">Yes</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="PhoneService0" name="PhoneService" value=0 class="custom-control-input">
            <label class="custom-control-label" for="PhoneService0">No</label>
          </div>
          </div>
          <!-- MultipleLines -->
        <div class="col-md-4">  
          <p>Have MultipleLines ?</p>
          <div class="custom-control custom-radio">
            <input type="radio" id="MultipleLines0" name="MultipleLines" value='a' class="custom-control-input">
            <label class="custom-control-label" for="MultipleLines0">Yes</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="MultipleLines1" name="MultipleLines" value='b' class="custom-control-input">
            <label class="custom-control-label" for="MultipleLines1">No</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="MultipleLines2" name="MultipleLines" value='c' class="custom-control-input">
            <label class="custom-control-label" for="MultipleLines2">No PhoneService</label>
          <br><br>
          </div>
          </div>
          <!-- Internet Service -->
        <div class="col-md-4">  
          <p>Internet Service ?</p>
          <div class="custom-control custom-radio">
            <input type="radio" id="InternetService0" name="InternetService" value='a' class="custom-control-input">
            <label class="custom-control-label" for="InternetService0">DSL</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="InternetService1" name="InternetService" value='b' class="custom-control-input">
            <label class="custom-control-label" for="InternetService1">Fiber Optic</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="InternetService2" name="InternetService" value='c' class="custom-control-input">
            <label class="custom-control-label" for="InternetService2">No InternetService</label>
            <br><br>
          </div>
          </div>
          <!-- Online Security -->
        <div class="col-md-4 mb-2">  
          <p>Online Security ?</p>
          <div class="custom-control custom-radio">
            <input type="radio" id="OnlineSecurity0" name="OnlineSecurity" value='a' class="custom-control-input">
            <label class="custom-control-label" for="OnlineSecurity0">Yes</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="OnlineSecurity1" name="OnlineSecurity" value='b' class="custom-control-input">
            <label class="custom-control-label" for="OnlineSecurity1">No</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="OnlineSecurity2" name="OnlineSecurity" value='c' class="custom-control-input">
            <label class="custom-control-label" for="OnlineSecurity2">No InternetService</label>
          </div>
          </div> 
              <!-- Online Backup -->
        <div class="col-md-4 mb-2">  
          <p>Online Backup ?</p>
          <div class="custom-control custom-radio">
            <input type="radio" id="OnlineBackup0" name="OnlineBackup" value='a' class="custom-control-input">
            <label class="custom-control-label" for="OnlineBackup0">Yes</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="OnlineBackup1" name="OnlineBackup" value='b' class="custom-control-input">
            <label class="custom-control-label" for="OnlineBackup1">No</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="OnlineBackup2" name="OnlineBackup" value='c' class="custom-control-input">
            <label class="custom-control-label" for="OnlineBackup2">No InternetService</label>
          </div>
          </div> 
        <!-- Device Protection -->
        <div class="col-md-4 mb-2">  
          <p>Device Protection?</p>
          <div class="custom-control custom-radio">
            <input type="radio" id="DeviceProtection0" name="DeviceProtection" value='a' class="custom-control-input">
            <label class="custom-control-label" for="DeviceProtection0">Yes</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="DeviceProtection1" name="DeviceProtection" value='b' class="custom-control-input">
            <label class="custom-control-label" for="DeviceProtection1">No</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="DeviceProtection2" name="DeviceProtection" value='c' class="custom-control-input">
            <label class="custom-control-label" for="DeviceProtection2">No InternetService</label>
          <br><br>
          </div>
          </div> 
              <!-- Tech Support -->
        <div class="col-md-4 mb-2">  
          <p>Tech Support ?</p>
          <div class="custom-control custom-radio">
            <input type="radio" id="TechSupport0" name="TechSupport" value='a' class="custom-control-input">
            <label class="custom-control-label" for="TechSupport0">Yes</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="TechSupport1" name="TechSupport" value='b' class="custom-control-input">
            <label class="custom-control-label" for="TechSupport1">No</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="TechSupport2" name="TechSupport" value='c' class="custom-control-input">
            <label class="custom-control-label" for="TechSupport2">No InternetService</label>
          </div>
          </div> 
          <!-- Streaming TV -->
        <div class="col-md-4 mb-2">  
          <p>Streaming TV ?</p>
          <div class="custom-control custom-radio">
            <input type="radio" id="StreamingTV0" name="StreamingTV" value='a' class="custom-control-input">
            <label class="custom-control-label" for="StreamingTV0">Yes</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="StreamingTV1" name="StreamingTV" value='b' class="custom-control-input">
            <label class="custom-control-label" for="StreamingTV1">No</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="StreamingTV2" name="StreamingTV" value='c' class="custom-control-input">
            <label class="custom-control-label" for="StreamingTV2">No InternetService</label>
          </div>
          </div>
            <!-- Streaming Movies -->
        <div class="col-md-4 mb-2">  
          <p>Streaming Movies ?</p>
          <div class="custom-control custom-radio">
            <input type="radio" id="StreamingMovies0" name="StreamingMovies" value='a' class="custom-control-input">
            <label class="custom-control-label" for="StreamingMovies0">Yes</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="StreamingMovies1" name="StreamingMovies" value='b' class="custom-control-input">
            <label class="custom-control-label" for="StreamingMovies1">No</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="StreamingMovies2" name="StreamingMovies" value='c' class="custom-control-input">
            <label class="custom-control-label" for="StreamingMovies2">No InternetService</label>
            <br><br>
          </div>
          </div>
        <!-- Contract -->
        <div class="col-md-4 mb-2">  
          <p>Contract ?</p>
          <div class="custom-control custom-radio">
            <input type="radio" id="Contract0" name="Contract" value='a' class="custom-control-input">
            <label class="custom-control-label" for="Contract0">Month to month</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="Contract1" name="Contract" value='b' class="custom-control-input">
            <label class="custom-control-label" for="Contract1">One Year</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="Contract2" name="Contract" value='c' class="custom-control-input">
            <label class="custom-control-label" for="Contract2">Two Year</label>
          </div>
          </div>
        <!-- Paperless Billing -->
        <div class="col-md-4 mb-2">  
          <p>Paperless Billing ?</p>
          <div class="custom-control custom-radio">
            <input type="radio" id="Billing0" name="PaperlessBilling" value=1 class="custom-control-input">
            <label class="custom-control-label" for="Billing0">Yes</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="Billing1" name="PaperlessBilling" value=0 class="custom-control-input">
            <label class="custom-control-label" for="Billing1">No</label>
          </div>
          </div>
        <!-- Payment Method -->
        <div class="col-md-4 mb-2">  
          <p>Payment Method ?</p>
          <div class="custom-control custom-radio">
            <input type="radio" id="Method0" name="PaymentMethod" value='a' class="custom-control-input">
            <label class="custom-control-label" for="Method0">Bank Transfer (automatic)</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="Method1" name="PaymentMethod" value='b' class="custom-control-input">
            <label class="custom-control-label" for="Method1">Credit Card (automatic)</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="Method2" name="PaymentMethod" value='c' class="custom-control-input">
            <label class="custom-control-label" for="Method2">Electronic Check</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="Method3" name="PaymentMethod" value='d' class="custom-control-input">
            <label class="custom-control-label" for="Method3">Mailed Check</label>
          </div>
          </div><br><br>
          <!-- Tenure -->
        <div>  
          <div class="form-group">
            <label for="tenure">Tenure (month)</label>
            <input type="text" class="form-control" id="tenure" name="tenure" placeholder="Tenure (month)">
          </div>
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-info form-row">Submit</button>
        <button type="reset" class="btn btn-info" style="margin-left: 5%;">Reset</button>
      </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>